.form {
    margin: 0 auto;
	text-align: center;
    background-color: #088036;
    height: 530px;
    width: 1280px;
}

h1 {
    text-align: center;
}

.front {
    margin: 2%;
    float: left;
}
.open {
    background-color: #2d889d;
}

.is-hidden {
	cursor: pointer;
}

.is-hidden p{
    display: none;
}

.visible {
    visibility: hidden;
}

.visible p {
    display: none;
}

button {
    background-color: #088036;
    height: 25px;
    width: 50px;
}

