body {
	font-family: arial;
	font-size: small;
	background: #d8b28e;
    }
button {
    border-radius: 10%;
    background-color: #b68053;
}

a{
    color: #7e593b;
}

h2{
    color: #463120;
}

h1{
    color: #302924;
}